
<body>
  <section class="about-us">
    <div class="about">
        <img class="pic" src="assets/img/logo.png">
      <div class="text">
        <h1>About Us</h1>
        
          <p>Welcome to Finding Solu, the newest IT startup company in Coimbatore.
             We are a team of dedicated professionals who are passionate about technology and are committed to providing innovative solutions to our clients' technological challenges. 
             Our services include Website Development, Designing, Maintenance and Support, Digital Marketing, Training, Internship and Placements,  and more. We believe in keeping our clients at the forefront of technological advancements and help them achieve their business goals by providing top-notch IT solutions. So if you're looking for a reliable partner for all your IT needs, look no further than Finding Solu..</p>
        <div class="data">
        <a href="https://forms.gle/TCkn5Ux9EpzPzDuk9" class="hire">Reach Us</a>
        </div>
      </div>
    </div>
  </section>
</body>

 

