<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="service.component.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <h2 style="color: black;">Our Services</h2>
        <section class="services">
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-code"></i></div>
                    <div class="title">Website Development</div>
                    <p>At Finding Solu, we specialize in providing custom web development solutions to meet the unique needs of our clients</p>
                </div>
            </div>
            
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-paint-brush"></i></div>
                    <div class="title">Designing</div>
                    <p>We also specialize in UI/UX designing and logo designing, creating visually appealing and user-friendly designs that enhance our clients' brand image and messaging.</p>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-mobile"></i></div>
                    <div class="title">Maintenance & Support </div>
                    <p>We offer comprehensive maintenance and support services to ensure that our clients' websites and applications are always up-to-date, secure, and running smoothly.</p>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-line-chart"></i></div>
                    <div class="title">Digital Marketing</div>
                    <p>Our digital marketing services include SEO, social media, email, and PPC advertising, customized to your business needs.</p>
                </div>
            </div>         

            <div class="card">
                <div class="content">
                    <div class="icon"><i class="bi bi-award-fill"></i></div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                        <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                      </svg>
                    <div class="title">Training</div>
                    <p>We also offer training services to empower businesses and individuals with the skills and knowledge they need to succeed in the digital world.</p>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-laptop"></i></div>
                    <div class="title">Internship & Placements</div>
                    <p>We provide internship opportunities and placement services to empower students and aspiring professionals to gain practical experience and exciting career opportunities in the digital industry.</p>
                </div>
            </div>

        </section>
    </div>

   
</body>
</html>