<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a routerLink="">Home</a></li>
  	 				<li><a routerLink="about">About</a></li>
  	 				<li><a routerLink="service">service</a></li>
  	 				<li><a routerLink="Contact-us">contact</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Get help</h4>
  	 			<ul>
  	 				<li><a href="project">Projects</a></li>
  	 				<li><a href="https://www.fita.in/">Tranings</a></li>
  	 				<li><a href="placement">placements & Internships</a></li>
  	 				<li><a href="payment">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 	
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
					<a href="https://wa.me/qr/LMIYJV2IMFZQM1"><i class="fab fa-whatsapp"></i></a>
  	 				<a href="https://twitter.com/FindingSolu?t=phqTx5snAuHJhOk4-DOYaQ&s=09"><i class="fab fa-twitter"></i></a>
  	 				<a href="https://mail.google.com/mail/?view=cm&fs=1&to=findingsolu@gmail.com&su=SUBJECT&body=BODY"><i class=""></i> 
						<i style="font-size:20px" class="fa">&#xf0e0;</i></a>			
  	 				<a href="https://www.linkedin.com/in/finding-solu-304404266/"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
			   <div class="footer-col">
				<h4>Address</h4>
				<p> promenade tower first floor </p>
  	 		    <p> 171/2A,Sathy Road,Saravanampatti</p>
				<p> Coimbatore - 641035</p>
			</div>
  	 	</div>
  	 </div>
  </footer>

</body>
</html>